@model IEnumerable<Campoverde.QMS.Models.Quote>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="dataTable" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Sl
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuotePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @{
                        i++;
                    }
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuotePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <button class="btn btn-primary open-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Change Status
                    </button> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @*                     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                *@
                </td>
            </tr>
        }
    </tbody>
</table>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Status of Quote</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group col-md-12">
                    <div class="mb-4">
                        <label class="control-label"></label>
                        <select id="status" class="form-control form-select">
                            <option value="0">New</option>
                            <option value="1">Contacted</option>
                            <option value="2">NotInterested</option>
                            <option value="3">Rented</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveButton">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>

    $(document).ready(function () {
        
        let selectedRowId;

        $('.open-modal').on('click', function () {
            debugger;
            selectedRowId = $(this).closest('tr').data('id');
        });
        $('#saveButton').on('click', function () {
            debugger;
            let selectedValue = $('#status').val();

            $.ajax({
                url: '/Quote/ChangeStatus',
                type: 'POST',
                data: {
                    quoteId: selectedRowId,
                    status: selectedValue
                },
                success: function (response) {
                    // handle success
                    alert('Quote status successfully updated');
                    $('#exampleModal').modal('hide');
                },
                error: function (error) {
                    // handle error
                    alert('An error occurred');
                }
            });
        });
    })
   
</script>