@model IEnumerable<Campoverde.QMS.Models.Quote>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-primary" style="background:hotpink">Create New</a>
</p>
<table id="dataTable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                Sl
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>           
            <th>
                @Html.DisplayName("Start Date")
            </th>
            <th>
                @Html.DisplayName("End Date")
            </th>
            <th>
                @Html.DisplayName("Quote Price")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayName("Note")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @{
                        i++;
                    }
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuotePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a href="" class="open-modal" data-bs-toggle="modal" data-bs-target="#quoteListModal">View</a>
                </td>
                <td>
                    <a href="" class="open-modal" data-bs-toggle="modal" data-bs-target="#statusModal">Change Status</a> |
                    <a href="" class="open-modal" data-bs-toggle="modal" data-bs-target="#quoteNote">Add Note</a> | 
@*                     <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                *@                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    @*                     <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                *@
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_StatusModalPartialView")
@await Html.PartialAsync("_QuoteNoteCreatePartialView")
@await Html.PartialAsync("_QuoteNoteListPrtialView")

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/scripts/quoteservices/quoteindexservice.js"></script>
}
