@model IEnumerable<Campoverde.QMS.Models.Quote>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="dataTable" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Sl
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleSize)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.QuotePrice)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>           
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        i++;
                    }
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehicle.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.Customer.FirstName)
                    @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleSize)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.QuotePrice)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
