@model Campoverde.QMS.Models.Customer

@{
    ViewData["Title"] = "Details";
}


<div>   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("First Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Last Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Home Address")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Spanish Address")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpanishAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Driver Name")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Primary Driving Licence Number")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryDrivingLicenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Secondary Driving License Number")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryDrivingLicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("License Expiry Date")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Driver Passport Number")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverPassportNumber)
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
